body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  font-size: 16px;
  color: #ffffff;
}
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
